@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Barbaros Mah. Dereboyu Cad.<br />
    Fesleğen Sok. Uphill Towers<br />
    B Blok Giriş Kat<br />
    34758 Ataşehir/İstanbul<br />
    <abbr title="Phone">Tel:</abbr>
    0850 346 2000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:hakandemirel@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:destek@example.com">Marketing@example.com</a>
</address>